/* Delisias de mi pueblo */
h1 {
  color: #2E86C1; /* azul */
  background-color: #FADBD8; /* rosado claro */
  padding: 10px;
  border-radius: 5px;
}

/* bienvenidos a probar nuestros sabores */
h2 {
  color: #117864; /* verde oscuro */
}

/* Sabores auténticos desde Chiritza */
em {
  color: #7D3C98; /* morado */
}


/* Enlaces del menú */
nav a {
  color: #154360; /* azul oscuro */
  text-decoration: none;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: underline;
}
.table-precios {
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 16px;
  background-color: #fffaf0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.table-precios th, .table-precios td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
}

    .table-precios th {
  background-color: #ffccbc;
  color: #4e342e;
}

.table-precios tr:hover {
  background-color: #ffe0b2;
}



